                    <div class="panel-body">
                    <div class="col-xs-12">
      <%= simple_form_for @items , url:bills_path(@items) do |f| %>

      <div id="invoice-wrap">
          <%= f.error_notification %>
            <div class="row">
            <div class="col-xs-12">
              <h4 class="page-header">INVOICE<small class="pull-right"></small></h4>
      </div><!-- /.col -->
    </div>

    <div class="row invoice-info">
      <div class="col-xs-4 invoice-col">
     
            <div class="col-xs-6"><label>Name </label></div>
     <div class="col-xs-6 in" >  <%= f.text_field :invoice_name, :value => current_customer.name  , class: "inv_name" %> </span></div>
        
      </div><!-- /.col -->
      <div class="col-xs-4 invoice-col">

          
      </div><!-- /.col -->
      <div class="col-xs-4 invoice-col">
        <form class="form-horizontal">

          <div class="form-group">
            <div class="col-xs-6"><label>Invoice #</label></div>
            <div class="col-xs-6 invoice_num"><span id="invoice_number"><%= (Invoice.last.present? ? (Invoice.last.id + 1) : 1) %></span></div>
          </div>
          <div class="col-xs-12"></div>
          <div class="form-group">
            <div class="col-xs-4"><%= f.label :date, required: false %></div>
            <div class="col-xs-8"><%= f.input_field :invoice_date, class: "form-control datepicker", as: :string, id: "invoice_date" %></div>
          </div>

          <div class="col-xs-12"></div>
          <div class="form-group">
          </div>


          <div class="col-xs-12"></div>
          <div class="form-group">
          </div>
        </form>
    

</div>
</br>
   
<%= form_tag bills_path, :method => 'get' do  %>
<%= text_field_tag :search, params[:search] , :placeholder => "Enter the Service Name"%>
<% end %>

<% if @i.blank? %>
  


<% else %>
<% @car.each do |f| %>
<table>
<tr>
  <td width="50%"><%= f.service_name  %></td>
 <td width="30%"><%= f.service_price %></td>
 <td width="30%"> <%= button_to "Add to line Item" , :controller => "bills", :action => "add", :id => f , class: "btn-user" %></td>
 </tr>

 </table>
<% end %>

<% end %>

<br>



    <div class="row">
      <div class="col-xs-12 table-responsive">
        <hr>
        <table class="table table-hover" id="items">
      
          <thead>
              <th class="name">Service_name</th>
              <th class="description">Service_price</th>
              <th class="unit">No's</th>
              <th class="units">Price</th>
              <th class="action">Action </th>
              
          </thead>
           <tbody>

            
          <% @cart.each do |id, quantity| %>

          <% item= Item.find(id) %>
      
         <tr class="item-row">
            

              
              <td class="namee"><%= item.service_name %> </td>

              
              <td class="cost" > <%= item.service_price  %></td>

              <td><input class="form-control qty" placeholder="No's" style="width:60px;" /></td>

              <td class="price_td"><span class="price">00.00</span></td>
              <td class="delete_td"><a class="delete" href="javascript:;" title="Remove row"><span class="ti-close"></span></a></td>
            </tr>
          
                       
          
          <% end %>
          </tbody>  
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-6">
        <div class="table-responsive">
          <table class="table table-hover" id="totals">

            <tr>
              <th>Tax:</th>
              <td><input id="9" class="form-control"  style="width:60px;" /></td>
            </tr>
            <tr>
              <th style="width:50%">Subtotal:</th>
              <td><span id="subtotal">00.00</span></td>
            </tr>
            
              <tr>
              <th>Discount:</th>
              <td><input id="discount" class="form-control" style="width:60px;" /></td>
            </tr>

            <tr>
              <th>Total:</th>
              <td class="balance"><span class="due" id="invoice_total">00.00</span><span class="subtotal_currency"></span></td>
              <%= f.hidden_field :invoice_amount , id: "invoice_total1" %>
            </tr>
          </table>
        </div>
      </div><!-- /.col -->    
    </div>

    <div class="row">
      <div class="col-xs-12 pull-right">
        <a class="btn btn-info btn-sm" id="invoice_button" data-toggle="modal" data-target="#invoice_modal">Show Invoice</a>

        <%= f.submit 'Submit Payment', id: "submit_invoice" %> 


        <%end %>
      </div>
    </div>
  </div>

</div>

 <!-- Modal -->
  <div class="modal fade" tabindex="-1" id="invoice_modal" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content" style="width:920px">

        <div class= "container-fluid invoice_wrapper" style="margin:10px" id="print-me"> 
           <%= render 'model' %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" onclick="printDiv('print-me')">Print</button>
      </div>
      </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
      
    </div>
  </div>
</div>      
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
