<%= form_for(@customer) do |f| %>
 

  <div class="formcontrol">
    <%= f.text_field :name , :placeholder => "Customer Name" %>
    <%= f.text_field :mobile , :placeholder => "Customer Mobile"%>
    <%= f.email_field :email , :placeholder => "Customer Email" %>
    <%= f.text_field :date_of_birth , class: "datepicker" , :placeholder => "Customer DOB" %>
   
    <%= f.button :submit , class: "btn-user"%>
  
  
 </div>
  
<% end %>
